extends ./layout/index 

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')

            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas molestias placeat, maxime perspiciatis, delectus ad modi deleniti numquam dignissimos eum reiciendis obcaecati sed enim ab nemo et? Vero aliquid dolorem natus, qui suscipit, sequi optio asperiores vitae nostrum iste voluptatum, officiis nemo!

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni aliquid veritatis reprehenderit! Cumque sed cum culpa eveniet ab odio velit maxime illum. Optio corporis voluptatum natus aperiam. Modi cum culpa suscipit maxime atque aspernatur, sed nihil, qui aperiam veritatis est excepturi dicta consectetur voluptas dolore iure neque.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quo at debitis laudantium nobis provident officiis minima voluptatum sapiente dolore quae facere fugiat magni id quam, quisquam modi labore tenetur, blanditiis voluptas illo eligendi quidem!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum quasi natus quaerat dolorem maxime, tenetur possimus officia similique. Sequi dolores nesciunt iusto facilis illo, recusandae omnis! Eveniet, magnam dignissimos!
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum quasi natus quaerat dolorem maxime, tenetur possimus officia similique. Sequi dolores nesciunt iusto facilis illo, recusandae omnis! Eveniet, magnam dignissimos!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum quasi natus quaerat dolorem maxime, tenetur possimus officia similique. Sequi dolores nesciunt iusto facilis illo, recusandae omnis! Eveniet, magnam dignissimos!